/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer"; }

header {
  grid-area: header;
  display: flex;
  justify-content: center;
  background-color: #151313;
  padding-top: 10px; }
  header nav ul li {
    display: inline-block;
    background-color: #e42c2c;
    padding: 5px;
    margin: 5px 20px 5px 20px;
    border-radius: 5px; }
    header nav ul li:hover {
      background-color: #f35a5a;
      transform: scale(1.2); }
      header nav ul li:hover a {
        text-decoration: none;
        list-style: none;
        color: antiquewhite; }
    header nav ul li a {
      text-decoration: none;
      list-style: none;
      color: antiquewhite; }

main {
  grid-area: main;
  background-color: #151313; }
  main h1 {
    text-align: center;
    background-color: #e42c2c;
    color: antiquewhite; }
  main .imagenIndex {
    text-align: center; }
  main .tituloOfertas {
    text-align: center;
    background-color: #e42c2c;
    color: antiquewhite;
    padding: 10px; }
  main .ofertas {
    text-align: center;
    margin: 10px; }
    main .ofertas .n1 {
      transition: 1s; }
      main .ofertas .n1:hover {
        transform: scale(1.1); }
    main .ofertas .n2 {
      transition: 1s; }
      main .ofertas .n2:hover {
        transform: scale(1.1); }
    main .ofertas .n3 {
      transition: 1s; }
      main .ofertas .n3:hover {
        transform: scale(1.1); }
    main .ofertas .n4 {
      transition: 1s; }
      main .ofertas .n4:hover {
        transform: scale(1.1); }

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  background-color: #e42c2c;
  color: antiquewhite;
  padding: 5px; }
